.music-banner-box {
    position: relative;
    width: 100%;
}

.music-banner-bg {
    width: 100%;
    display: block;
    border-radius: 6px;
}

.music-banner-overlay-content {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: #fff;
}

.music-banner-category {
    color: #00ff66;
    font-weight: 600;
    margin-bottom: 10px;
}

.music-banner-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.music-banner-timer {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.music-banner-time {
    width: 70px;
    height: 70px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.music-banner-time span {
    font-size: 18px;
}

.music-banner-time p {
    font-size: 12px;
    margin: 0;
}

.music-banner-btn {
    background: #00ff66;
    padding: 12px 35px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.music-banner-btn:hover {
    background: #00ff66;
    padding: 12px 35px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* ======= flash sale ========== */
.flash-wrapper{
    display:flex;
    align-items:center;
    margin:20px 0;
}

.flashsale-main-title{
    font-size:40px;
    font-weight:700;
}

.flashsale-countdown{
    display:flex;
    align-items:center;
    gap:15px;
    margin-left: 20px;
}

.flashsale-time-box{
    text-align:center;
}

.flashsale-time-box span{
    font-size:40px;
    font-weight:700;
    display:block;
}

.flashsale-time-box small{
    font-size:14px;
    color:#555;
}

.flashsale-dot{
    font-size:30px;
    color:#e57373;
    font-weight:bold;
}










#slider.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -30px !important;
}
#slider.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #DB4444;
    border: 2px solid #fff;
    width: 17px !important;
    height: 17px !important;
}
#slider.owl-theme .owl-dots .owl-dot span{
    width:15px !important;
    height:15px !important;
}
#slider.owl-theme .owl-dots .owl-dot span{
    background: #808080;
}
